# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
db.sqlite3
.env

# Virtual env
venv/
ENV/
env/
.venv/

# IDEs and editors
.vscode/
.idea/
*.swp

# macOS
.DS_Store

# Python dependencies
*.egg-info/
*.egg/
